# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# Logs
*.log

# MacOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

.env